<!DOCTYPE html>
<html>
<head>
  <title>Đại Thư Viện | <%= @title %></title>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <%= stylesheet_link_tag    'mobile/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mobile/application', 'data-turbolinks-track' => false, async: true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top sb-slide" role="navigation">
			<!-- Left Control -->
			<div class="sb-toggle-left navbar-left">
				<div class="navicon-line"></div>
				<div class="navicon-line"></div>
				<div class="navicon-line"></div>
			</div>
			
			<!--<div class="sb-toggle-right navbar-right">
			    <div class="searchimg">
				    <%= image_tag "search.png", size: "100x100", alt: "Dai Thu Vien" %>				
				</div>
			</div>-->
			
			<div class="container">
			    <div id="logo" class="navbar-left">
                    <%= image_tag "dtv.png", size: "320x100", alt: "Dai Thu Vien" %>				
				</div>
			</div>
			
	</nav>
	<%= render 'partials/mobile/menu' %>
    <%= yield %>
    <%= render 'partials/mobile/footer' %>
		
</body>
</html>
