<h2> Cập Nhật Danh Mục</h2>

<%= form_for [:admin, @cate] do |f| %>
    <!-- Check for errors -->
    <%= render 'partials/errors', obj: @cate %>
    
    <div class="form-group">
         <label for="name">Tên Danh Mục: </label>
        <%= f.text_field :name, class:'form-control' %>
    </div>
    <%= f.submit "Cập Nhật", class:'btn btn-primary' %>
    <%= link_to "Hủy", admin_categories_path, class:'btn btn-default' %>
<% end %>