<h2> Thêm Mới Trạng Thái</h2>

<%= form_for [:admin, @status] do |f| %>
    <!-- Check for errors -->
    <%= render 'partials/errors', obj: @status %>
    
    <div class="form-group">
         <label for="name">Tên trạng thái: </label>
        <%= f.text_field :name, class:'form-control' %>
    </div>
    <%= f.submit "Tạo Mới", class:'btn btn-primary' %>
    <%= link_to "Hủy", admin_statuses_path, class:'btn btn-default' %>
<% end %>